<mat-toolbar>
  <button mat-icon-button class="home-icon" aria-label="Home" (click)="homeClicked()">
    <mat-icon>home</mat-icon>
  </button>
  <span>Stotrakosh</span>
  <span class="example-spacer"></span>

<!--  <mat-form-field >-->
    <mat-select [(ngModel)]="selectedLanguage" disableRipple style="width:125px" (selectionChange)="languageChange($event.value)">
      <li *ngFor="let language of languages">
        <mat-option [value]="language.id">{{language.name}}</mat-option>
      </li>
    </mat-select>
<!--  </mat-form-field>-->

<!--  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">-->
<!--    <mat-icon>favorite</mat-icon>-->
<!--  </button>-->

<!--  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">-->
<!--    <mat-icon>share</mat-icon>-->
<!--  </button>-->
</mat-toolbar>
