<!--<h2>My Heroes</h2>-->
<mat-form-field>
  <mat-label>Select an option</mat-label>
  <mat-select disableRipple (selectionChange)="languageChange()">
    <li *ngFor="let language of languages">
      <mat-option value="1">{{language}}</mat-option>
    </li>
  </mat-select>
</mat-form-field>
<div  align="center">
  <ul class="heroes" *ngIf="!isSelected" >

    <mat-list role="list" align="center">
      <li *ngFor="let hero of stotras">
        <mat-list-item role="listitem" >
          <button mat-icon-button (click)="onSelect(hero)" matListItemMeta>
<!--            <mat-icon>info</mat-icon>-->
            {{hero.name}}
          </button>
        </mat-list-item>
      </li>
    </mat-list>

  </ul>
</div>

<div *ngIf="selectedHero && isSelected">
  <button type="button" (click)="onClickBack()">
    <span class="name">Back</span>
  </button>
  <h2 align="center">{{selectedHero.name | uppercase}}</h2>
<!--  <div align="center">-->
    <p align="center" [innerHTML]="selectedHero.description"></p>
<!--  </div>-->
<!--  <div>id: {{selectedHero.id}}</div>-->
<!--  <div>-->
<!--    <label for="hero-name">Hero name: </label>-->
<!--    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">-->
<!--  </div>-->
</div>
