<!--<h2>My Heroes</h2>-->
<mat-form-field>
  <mat-label>Select an option</mat-label>
  <mat-select disableRipple>
    <mat-option value="1">Option 1</mat-option>
    <mat-option value="2">Option 2</mat-option>
    <mat-option value="3">Option 3</mat-option>
  </mat-select>
</mat-form-field>
<div  align="center">
  <ul class="heroes" *ngIf="!isSelected" >
    <li *ngFor="let hero of stotras">
      <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
  <!--      <span class="badge">{{hero.id}}</span>-->
        <span class="name">{{hero.name}}</span>
      </button>
    </li>
  </ul>
</div>

<div *ngIf="selectedHero && isSelected">
  <button type="button" (click)="onClickBack()">
    <span class="name">Back</span>
  </button>
  <h2 align="center">{{selectedHero.name | uppercase}}</h2>
<!--  <div align="center">-->
    <p align="center" [innerHTML]="selectedHero.description"></p>
<!--  </div>-->
<!--  <div>id: {{selectedHero.id}}</div>-->
<!--  <div>-->
<!--    <label for="hero-name">Hero name: </label>-->
<!--    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">-->
<!--  </div>-->
</div>
